@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
body {
  background: #1c5570;
  color: #ffffff;
  font: 400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
}

.custom-select {
  position: relative;
  width: 100%;
  max-width: 25em;
  margin: 4em auto;
  cursor: pointer;
}

.select,
.label {
  display: block;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1em;
  height: 4em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}

.label {
  position: relative;
  padding: 1em;
  border-radius: .5em;
  cursor: pointer;
}

.label::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  border-left: 1px solid;
}

.open .label::after {
  content: "▲";
}

.select-1 {
  background: #21cf8f;
  border-bottom: 0.25em solid #1aa371;
}
.select-1:after {
  border-color: #1aa371;
}

.select-2 {
  background: #307ddb;
  border-bottom: 0.25em solid #2064b8;
}
.select-2:after {
  border-color: #2064b8;
}

.select-3 {
  background: #f2bb18;
  border-bottom: 0.25em solid #cc9b0b;
}
.select-3:after {
  border-color: #cc9b0b;
}

.select-4 {
  background: #db3d3d;
  border-bottom: 0.25em solid #c12424;
}
.select-4:after {
  border-color: #c12424;
}
