
@charset "utf-8";
/* CSS Document */


body {
    background-color:#EBB646;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-size: 36px;
	font-weight: 100;
	
}


/* TOP MENU */

#wrapper {
    width:100%;
    clear:both;
	text-align:center;
	background-color:#FFF;
	
	
}

#buttontopmenu {
	
    width:32%;
    float:left;
	margin-right:1%;
	
}

#buttontopmenu2 {
	 
    width:32%;
    float:left;
	margin-right:1%;
}

#buttontopmenu3 {
	width:33%;
    float:left;
	margin-right:1%;
}

.menubut {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 60px;
	border-color:#C99;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
	display: inline;
}
/* error page ////////////////////////////////////////////////////////////////////////////////////////*/
#buttonlogin0 {
	text-align:center;
    width:45%;
    float:left;
    padding:30px;
}

.Loginbut0 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
}
.Loginbut0:hover {
	background-color:#eb675e;
}
.Loginbut0:active {
	position:relative;
	top:1px;
}

/* Page 1 ////////////////////////////////////////////////////////////////////////////////////////*/
#logo {
  	text-align:center;
    padding:5px;
	padding-top:150px;
	width:45%;
	margin-left:27%;
	margin-right:auto;
}


#input{
	text-align:center;
    width:20vw;
    float:left;
    padding:30px;
}
.search5-1{
		font-family: 'Raleway', sans-serif;
	text-align: center;
	width:60vw;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #405C9B;
	padding:30px;
}
.search5-1:hover {
	background-color:#5a7fd1;
}
.search5-1:active {
	position:relative;
	top:1px;
}
   
.input{
font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
}

/* Page 2 ////////////////////////////////////////////////////////////////////////////////////////*/

.input2-1{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: "black";
	background-color: #d3f3ee;
	padding-top:5%;
	padding-bottom:5%;
}

.search5-2{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	height: auto;
	border: 0;
    width:100vw;
	color: "black";
	background-color: #d3f3ee;
	padding:17px;
}
#firstname, #lastname, #email, #password {
    margin-bottom: 5px;
}

#reEnter {
margin-bottom: 20px;
}
#input2-signup{
	text-align:center;
    width:100vw;
	clear:both;
  
	clear:both;
	margin-bottom:0px;
}

#input2{
	text-align:center;
    width:100vw;
	clear:both;
	margin-bottom: -14px;
}

#buttonlogin2 {
	text-align:center;
    width:20%;
    padding:30px;
	clear:both;
   }

/* Page 3 ////////////////////////////////////////////////////////////////////////////////////////*/
#input3{
	text-align:center;
    width:40%;
    float:left;
    padding:30px;
}
.input3-1{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: "black";
	background-color: #d3f3ee;
	padding:5%;

}
.input3-2{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: "black";
	background-color: #d3f3ee;
	padding:5%;
	
}

#buttonlogin3 {
	text-align:center;
    width:20%;
    padding:30px;
	clear:both;
    text-align:center;
   
}

.Loginbut3 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
}
.Loginbut3:hover {
	background-color:#eb675e;
}
.Loginbut3:active {
	position:relative;
	top:1px;
}

#confirmMessage {
align-content: center;
}

#confDiv{
height: auto;
width: 100vw;
align-content: center;
}


/* Congrats Message ////////////////////////////////////////////////////////////////////////////////////////*/

#congratsMsg {
margin-bottom: -50px;
}

/* Page 4 ////////////////////////////////////////////////////////////////////////////////////////*/
.p4h1{
	font-family: 'Raleway', sans-serif;
	color: #CE5B54;
	font-weight:200;
	font-size:200%;
	
}
#disclaimer{
padding : 25px;	
}
.p4{
	margin-top:-35px;
	margin-left:100px;
	float:left;
	font-family: 'Raleway', sans-serif;
	color:"black";
	font-size: 0.8em;
}

input[type=checkbox]{
  display:none;
}

.flat7b{
  display:block;
  border-radius:20px;
  width:52px;
  height:31px;
  border:2px solid #e5e5e5;
  cursor:pointer;
  background-color:#f5f5f5;
  margin-left:25px;
  
  -webkit-transition: background-color 0.6s ease, border 0.6s ease;
  -moz-transition: background-color 0.6s ease, border 0.6s ease;
  -ms-transition: background-color 0.6s ease, border 0.6s ease;
  -o-transition: background-color 0.6s ease, border 0.6s ease;
  transition: background-color 0.6s ease, border 0.6s ease;
}

.move{
  display:block;
  border-radius:20px;
  width:29px;
  height:29px;
  background-color:white;
  border: 1px solid #efefef;
  -webkit-box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.1);
  margin-left:0px;
  margin-left:0px;

  -webkit-transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  -ms-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
}

#flat7:checked + .flat7b .move{
  margin-left:21px;
  -webkit-transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  -ms-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
}

#flat7:checked + .flat7b{
  border:2px solid #4DD132;
  background-color:#4DD132;
  -webkit-transition: background-color 0.6s ease, border 0.6s ease;
  -moz-transition: background-color 0.6s ease, border 0.6s ease;
  -ms-transition: background-color 0.6s ease, border 0.6s ease;
  -o-transition: background-color 0.6s ease, border 0.6s ease;
  transition: background-color 0.6s ease, border 0.6s ease;
}
#buttonlogin4 {
	text-align:center;
    width:20%;
    padding:30px;
	clear:both;
    text-align:center;
   
}
.Loginbut4 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
}
.Loginbut4:hover {
	background-color:#eb675e;
}
.Loginbut4:active {
	position:relative;
	top:1px;
}

/* Page 5 ////////////////////////////////////////////////////////////////////////////////////////*/
#logo5 {
 text-align:center;
    padding:5px;
	padding-top:40px;
    margin-bottom: 10px;
	width:100vw;
	height:auto;
}

#islalogo{
    max-height: auto;
    max-width: 400px;
}

#buttonlogin5 {
	text-align:center;
    width:40%;
	clear:both;
	margin-bottom:15px;
	}
   
.search5 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width:60vw;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:30px;
}
.search5:hover {
	background-color:#eb675e;
}
.search5:active {
	position:relative;
	top:1px;
}

#welcomeMsg {
    
	width:100vw;
    text-align: center;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #ffffff;
    padding:30px;
    font-size:1.60em;
}    

	
}




/* Page 6 ////////////////////////////////////////////////////////////////////////////////////////*/
#logo6, #logo13 {
    text-align:center;
    padding:5px;
	padding-top:50px;
	width:100vw;
	height:auto;
	
}

#islalogo{
    max-height: auto;
    max-width: 400px;
}

#h1back6{
	background-color: #CE5B54;
	width:100%;
	height: 20%;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
}
.input6-1{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #111;
	background-color: #d3f3ee;
	padding:5%;

}
.input6-2{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: "black";
	background-color: #d3f3ee;
	padding:5%;
	margin-top:30px;
}

#input6{
	text-align:center;
    width:40%;
    float:left;
    padding:30px;
}

#buttonlogin6 {
	text-align:center;
    width:44%;
    padding:30px;
	clear:both;
}
.Loginbut6 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1.5em;
	width:40vw;
	height:auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:1%;
}
.Loginbut6:hover {
	background-color:#eb675e;
}
.Loginbut6:active {
	position:relative;
	top:1px;
}

#buttonlogin6 {
	text-align:center;
    width:44%;
    padding:30px;
	clear:both;
    text-align:center;
   }


/* Page 7 ////////////////////////////////////////////////////////////////////////////////////////*/
#logo7 {
    text-align:center;
    padding:5px;
	padding-top:150px;
	width:50%;
	height:auto;
	margin-left:23%;
}


#h1back7{
    width:100%;
    float:left;
    padding:2%;
	background-color:#d3f3ee;
	margin-bottom:1%;
	font-size: 150%;
	font-style:bold,5px;
	color: black;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#buttonlogin7 {
	text-align:center;
    width:60%;
    padding-top:30px;
	clear:both;
	margin-left:20%;
	
	
}

#buttonlogin7-1 {
	text-align:center;
    width:60%;
	clear:both;
	margin-left:20%;
	
	
}

#buttonlogin7-2 {
	text-align:center;
    width:60%;
    clear:both;
	margin-left:20%;
	
	
}

#buttonlogin7-3 {
	text-align:center;
    width:60%;
    padding-top:30px;
	clear:both;
	margin-left:20%;
}

.Loginbut7 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
	margin-bottom:10px;
}
.Loginbut7:hover {
	background-color:#eb675e;
}
.Loginbut7:active {
	position:relative;
	top:1px;
}

.Loginbut7-1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
	margin-bottom:10px;
}
.Loginbut7-1:hover {
	background-color:#eb675e;
}
.Loginbut7-1:active {
	position:relative;
	top:1px;
}
/* Page 8 ////////////////////////////////////////////////////////////////////////////////////////*/

/* Page 9 ////////////////////////////////////////////////////////////////////////////////////////*/



#description {
	text-align:left;
	margin-left: 2%;
	margin-right: 2%;
}

#titlename8 {
	
    width:60%;
    float:left;
    padding:20px;
	margin-left:20%;
	background-color:#d3f3ee;
	color:#000;
	font-style:bold,5px;
	
	font-family: 'Raleway', sans-serif;
	text-align: center;
	
	
}
#titlename8-1 {
	
	width:60%;
    float:left;
    padding:20px;
	margin-left:20%;
	background-color:#ce5b54;
	padding:1%;
	margin-bottom:1%;
	
	font-style:bold,5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
#title {
color: cadetblue;
text-decoration: inherit;
font-size: 1.5em;
}

#Drug1{ 
   	width:60%;
    float:left;
    padding:20px;
	margin-left:20%;
	background-color:#ce5b54;
	padding:4%;
	margin-bottom:1%;
	font-size: 120%;
	font-style:bold,5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
   }
      
	  #Drug2{
    width:60%;
    float:left;
    padding:20px;
	margin-left:20%;
	background-color:#ce5b54;
	padding:4%;
	margin-bottom:1%;
	font-size: 120%;
	font-style:bold,5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
   }
      
	  #Drug3{
    width:60%;
    float:left;
    padding:20px;
	margin-left:20%;
	background-color:#ce5b54;
	padding:4%;
	margin-bottom:1%;
	font-size: 120%;
	font-style:bold,5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
   }
   
     .nextbut{
   margin-bottom:1%;
   padding: 5% 5%;
   background-color:#ce5b54;
   font-size: 50%;
   font-family: 'Raleway', sans-serif;
    width:20%;
    float:left;
    padding:8%;
   }
   
   
      #drugbox{
  background-color:#CE5B54;
	margin-bottom:1%;
    width:100%;
    float:left;
    padding:1%;
   }
   
.first {
     width:60%;
    float:left;
	margin-left:20%;
	background-color:#eb675e;
	padding:4%;
	padding-bottom:9%;
	margin-bottom:3%;
	font-size: 120%;
	font-style:bold,5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.responsive-menu {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: #CE5B54;
    color: #fff;
    font-weight: 600;
}

.backbut9 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 100%;
	width:100%;
	padding:4%;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	
	
}
.backbut9:hover {
	background-color:#eb675e;
}
.backbut9:active {
	position:relative;
	top:1px;
	
}

.backbut9-1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 100%;
	width:100%;
	padding:4%;
	margin-top:2%;
	border: 0;
	color: #ce5b54;
	background-color: #ffffff;
	
	
}
.backbut9-1:hover {
	background-color:#ce5b54;
	color: #ffffff;
}
.backbut9-1:active {
	position:relative;
	top:1px;
	
}

#buttonlogin9 {
	width:60%;
    float:left;
	margin-left:20%;
	background-color:#ce5b54;
	margin-bottom:1%;
}

/* Page 10 ////////////////////////////////////////////////////////////////////////////////////////*/
#titlename10 {
	
      width:60%;
    float:left;
    padding:20px;
	margin-left:20%;
	background-color:#d3f3ee;
	
	font-style:bold,5px;
	color: black;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	
	
}
#titlename10-1 {
	width:60%;
    float:left;
    padding:20px;
	margin-left:20%;
	background-color:#ce5b54;
	padding:1%;
	margin-bottom:1%;
	font-size: 120%;
	font-style:bold,5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	
	
	
}

#Drugbar {
    width:60%;
    float:left;
    padding:20px;
	margin-left:20%;
	background-color:#ce5b54;
	padding:1%;
	margin-bottom:1%;
	font-size: 100%;
	font-style:bold,5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	
	
}

 #map {
        height: 400px;
		
		margin-bottom:1%;
      }
	  
	  #buttonlogin10 {
	text-align:center;
    width:50%;
	margin-left:25%;
    clear:both;
    text-align:center;
	font-size: 200%;
	font-style:bold,5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	
	  }

/* Page 11 ////////////////////////////////////////////////////////////////////////////////////////*/

#round {
	text-align:center;
    padding:5px;
	padding-top:80px;
	width:70%;
	height:auto;
	margin-left:23%;
}
#image {
    width:20%;
    max-height:200px; 
    max-width:200px; 
    min-height:100px; 
    min-width:100px;			
}
#accphoto{
	background-color: #CE5B54;
	width:100%;
	height: 20%;
	padding-bottom:5px;
	margin-top:10%;
	text-align:center;
}
#welcomeMsg11{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1.5em;
	color:white;
}

#info{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1.5em;
	background-color: #d3f3ee;
	padding: 3px;
	margin-bottom:20px;
	width:60%;
	margin-left:20%;
	margin-top:10px;
}

#titleback11{
	
     width:60%;
    float:left;
    padding:20px;
	margin-left:20%;
	background-color:#CE5B54;
	font-size: 200%;
	font-style:bold,5px;
	color: black;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	}
	
	#ratediv{
	background-color: #d3f3ee;
	width:60%;
	height:auto;
	min-width:30%;
    float:left;
    padding:20px;
	margin-left:20%;
	padding:1%;
	margin-bottom:1%;
	font-size: 100%;
	font-style:bold,5px;
	color: black;
	font-family: 'Raleway', sans-serif;
	
}
.ratebut12{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width:10%;
	height: 50%;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:2% 2% 2 0;
	float:right;
	margin-top:-20px;
	margin-right:10px;
}
.ratebut12:hover {
	background-color:#eb675e;
}
.ratebut12:active {
	position:relative;
	top:1px;
}
 #buttonlogin11 {
	text-align:center;
    width:50%;
	margin-left:25%;
    clear:both;
    text-align:center;
	font-size: 200%;
	font-style:bold,5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	
	  }
	  .backbut11 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
	margin-top:5%;
}
.backbut11:hover {
	background-color:#eb675e;
}
.backbut11:active {
	position:relative;
	top:1px;
}
/* Page 12 ////////////////////////////////////////////////////////////////////////////////////////*/
#titleback12{
	background-color: #CE5B54;
	width:100%;
	height: 20%;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
}


#buttonlogin12 {
	text-align:center;
    width:40%;
    padding:30px;
	clear:both;
    text-align:center;
	
   
}
.backbut12 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
	margin-top:5%;
}
.backbut12:hover {
	background-color:#eb675e;
}
.backbut12:active {
	position:relative;
	top:1px;
}


.rating {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 170px;
  height: 100px;
  padding: 5px 10px;
  margin: auto;
  border-radius: 30px;
  background: #FFF;
  display: block;
  overflow: hidden;
  
  box-shadow: 0 1px #CCC,
              0 5px #DDD,
              0 9px 6px -3px #999;
  
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating:not(:checked) > input {
  display: none;
}

/* - - - - - RATE */
#radio {
  top: 50px;
}
#radio:not(:checked) > label {
  cursor:pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  
  color: rgba(0, 135, 211, .4);
  line-height: 33px;
  text-align: center;
}
#radio:not(:checked) > label:hover,
#radio:not(:checked) > label:hover ~ label {
  color: rgba(0, 135, 211, .6);
}
#radio > input:checked + label:hover,
#radio > input:checked + label:hover ~ label,
#radio > input:checked ~ label:hover,
#radio > input:checked ~ label:hover ~ label,
#radio > label:hover ~ input:checked ~ label {
  color: rgba(0, 135, 211, .8);
}
#radio > input:checked ~ label {
  color: rgb(0, 135, 211);
}



#ratebut12{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width:25%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:2% 2% 2 0;
    float: left;
    margin-left: 37%;
    margin-top: 5px;
    

}

h7 {
   color: Black;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 0.8em; 
    float: left;
    margin-left: 10px;

}

/* Page 13 ////////////////////////////////////////////////////////////////////////////////////////*/
#logo13 {
    text-align:center;
    padding:5px;
	padding-top:10px;
	width:50%;
	height:auto;
	
}
#titleset{
	width:100vw;
    text-align: center;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #ffffff;
    padding:20px;
    font-size:1.80em;
}    

#buttonlogin13 {
	text-align: center;
	clear:both;
	
   
}
.setbut13 {
    
    font-family: 'Raleway', sans-serif;
	text-align: center;
	width:50vw;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:40px;
}
.setbut13:hover {
	background-color:#eb675e;
}
.setbut13:active {
	position:relative;
	top:1px;
}
/* Page 14 ////////////////////////////////////////////////////////////////////////////////////////*/
#tutorialhead1{
	background-color: #CE5B54;
	width:100%;
	height: 20%;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	text-align:center;
}


#tutorial1{
	
	width: 60%;
	text-align:center;
	margin-left:20%;
	
}

#buttonlogin14 {
	text-align:center;
    width:40%;
	clear:both;
	margin-bottom:15px;
   
   
}
.Loginbut14 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width:50vw;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:40px;
}
.Loginbut14:hover {
	background-color:#eb675e;
}
.Loginbut14:active {
	position:relative;
	top:1px;
}
	
	

/* Page 15 ////////////////////////////////////////////////////////////////////////////////////////*/

#tutorialhead2{
	background-color: #CE5B54;
	width:100%;
	height: 20%;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	text-align:center;
}


#tutorial2{
	width: 60%;
	text-align:center;
	margin-left:20%;
	

}

#buttonlogin15 {
	text-align:center;
    width:20%;
	padding-left:40%;
	clear:both;
    text-align:center;
   
}
.Loginbut15 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
}
.Loginbut15:hover {
	background-color:#eb675e;
}
.Loginbut15:active {
	position:relative;
	top:1px;
}


/* Page 16 ////////////////////////////////////////////////////////////////////////////////////////*/

#tutorialhead3{
	background-color: #CE5B54;
	width:100%;
	height: 20%;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	text-align:center;
}


#tutorial3{
	width: 60%;
	text-align:center;
	margin-left:20%;
	

}

#buttonlogin16 {
	text-align:center;
    width:20%;
	padding-left:40%;
	clear:both;
    text-align:center;
   
}
.Loginbut16 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
}
.Loginbut16:hover {
	background-color:#eb675e;
}
.Loginbut16:active {
	position:relative;
	top:1px;
}

/* Page 17 ////////////////////////////////////////////////////////////////////////////////////////*/
#logo17 {
    text-align:center;
    padding:5px;
	padding-top:150px;
	width:50%;
	height:auto;
	margin-left:23%;
}
#buttonlogin17 {
	text-align:center;
    width:44%;
    padding:30px;
	clear:both;	
   
}
.backbut17 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
}
.backbut17:hover {
	background-color:#eb675e;
}
.backbut17 :active {
	position:relative;
	top:1px;
}

/* Page 18 ////////////////////////////////////////////////////////////////////////////////////////*/
#logo18 {
  	text-align:center;
    padding:5px;
	padding-top:150px;
	width:35%;
	height:auto;
	margin-left:32%;
}

#buttonlogin18 {
	text-align:center;
    width:100%;
    padding:30px;
	clear:both;
	

	 
}
.backbut18 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.5em;
	width:100%;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:5%;
	margin-top:10%;
}
.backbut18:hover {
	background-color:#eb675e;
}
.backbut18:active {
	position:relative;
	top:1px;
}

#buttonlogin99 {
	text-align:center;
    width:40%;
	clear:both;
	margin-bottom:15px;
	margin-top:70px;
	margin-left:20%;
	}
   
.search99 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width:60vw;
	height: auto;
	border: 0;
	color: #ffffff;
	background-color: #CE5B54;
	padding:30px;
}
.search99:hover {
	background-color:#eb675e;
}
.search99:active {
	position:relative;
	top:1px;
}

/* SELECTED */

/* TEXT */

h1 {
    
	
	

}

h2 {
    
}

h3 {
    
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 10px;
}

h4 {
    color: black;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 0.9em;
}

P {
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 0.5em;
}

/*picture account */


