@charset "UTF-8";
/* CSS Document */

/*  =========================================================================================== */
@media screen and (max-width: 2880px) {
/* =========================================================================================== */
/*error ///////////////////////*/
    #buttonlogin0 {
margin-left:26%;
margin-right:auto;
}

.Loginbut0 {
	font-size: 1em;
}

#logo6, #logo13{
    text-align:center;
    padding:5px;
	padding-top:30px;
	width:100vw;
	height:auto;
	
}

#islalogo{
    max-height: auto;
    width: 50vw;

}
/*index ///////////////////////*/
    #buttonlogin {
margin-left:28%;
margin-right:auto;
}

.Loginbut {
	font-size: 0.8em;
}
.search5-1{
margin-bottom:20px;
font-size: 20px;	
}	

#input{
	margin-left:37%;
	margin-right:auto;	
}


/*page 2///////////////////////*/

   .search5-2{
margin-bottom:20px;
font-size: 20px;	
margin-left:50%;
width:47vw;	


}	 

    
#buttonlogin2 {
margin-left:39%;
margin-right:auto;
}
/*page 3///////////////////////*/

#input3{
	margin-left:27%;
	margin-right:auto;	
}
#buttonlogin3 {
margin-left:38%;
	margin-right:auto;;
}

.input3-2{
margin-top:10px;	
}

#confirmMessage {
font-size: 17px; 
align-content: center;
/*margin-left:%;*/
margin-right:auto;
padding: 5px;
} 

span {
width:43%;
position: absolute;
margin-left:-19%;
margin-right:auto;
}
/*page 4///////////////////////*/
#buttonlogin4 {
margin-left:39%;
margin-right:auto;
}

/*page 5///////////////////////*/
#logo5{

margin-right:auto;	
}

#buttonlogin5 {
width:100vw;
}

.search5{
margin-bottom:20px;
font-size: 20px;	
}
    
#welcomeMsg {
font-size:1.80em;

}

/*page 6///////////////////////*/
#input6{
	margin-left:28%;
	margin-right:auto;
}

#buttonlogin6 { 
    width:100vw;
  }



/*page 7///////////////////////*/
#h1back7{
	width:60%;
	margin-left:20%;
}
/*page 9///////////////////////*/


/*page 10///////////////////////*/
 #map {
        height: 30%;
		width:60%;
		margin-left:20%;
		
      }

/*page 11///////////////////////*/
#round {
margin-left:15%;
margin-right:auto;	
}

#buttonlogin11 {
	margin-left:38%;
margin-right:auto;
   
}

/*page 12//////////////////////*/
	.ratebut12{
		font-size: 100%;
	}
	
	#buttonlogin12 {
	margin-left:29%;
	margin-right:auto;
   
}
	
/*page 13//////////////////////*/
	#buttonlogin13 {
        width:100vw;
   
}
	.setbut13{
		font-size: 20px;
		margin-bottom: 10px;
	}
	
/*page 14//////////////////////*/
.tutor{
	width:20%;
	height:auto;
}
h1 {
    font-size:150%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
	color:#FFF;    
	
}

h2 {
	font-size:150%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}

h3 {
	font-size:70%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
/*page 15//////////////////////*/
/*page 16//////////////////////*/
/*page 17//////////////////////*/
/*page 18//////////////////////*/
/*
=========================================================================================== */
@media screen and (max-width: 1920px) {
/* =========================================================================================== */
/*error ///////////////////////*/
    #buttonlogin0 {
margin-left:26%;
margin-right:auto;
}
    


.Loginbut0 {
	font-size: 1em;
}
/*index ///////////////////////*/

.search5-1{
margin-bottom:20px;
font-size: 20px;	
}	
/*page 2///////////////////////*/
.search5-2{
margin-bottom:20px;
font-size: 20px;	
width:45.5vw;
}

#buttonlogin2 {
margin-left:38%;
margin-right:auto;
}
/*page 3///////////////////////*/
#input3{
	margin-left:26.5%;
	margin-right:auto;	
}
#buttonlogin3 {
margin-left:38%;
margin-right:auto;
}

.input3-2{
margin-top:10px;	
}

#confirmMessage {
font-size: 15px; 
align-content: center;
/*margin-left:%;*/
margin-right:auto;
} 

span {
width:43%;
position: absolute;
margin-left:-19%;
margin-right:auto;
}

/*page 4///////////////////////*/
#buttonlogin4 {
margin-left:38%;
margin-right:auto;
}

/*page 5///////////////////////*/


.search5{
margin-bottom:20px;
font-size: 20px;	
}	

#welcomeMsg {
font-size:1.70em;

}

/*page 6///////////////////////*/
#input6{
	margin-left:26.5%;
	margin-right:auto;
}

/*page 7///////////////////////*/
#h1back7{
	width:60%;
	margin-left:20%;
}
/*page 9///////////////////////*/

/*page 10///////////////////////*/
#map {
        height: 30%;
		width:60%;
		margin-left:20%;
		
      }

/*page 11///////////////////////*/
#round {
margin-left:15%;
margin-right:auto;	
}

#buttonlogin11 {
	margin-left:38%;
margin-right:auto;
   
}

	
/*page 12//////////////////////*/
	.ratebut12{
		font-size: 100%;
	}
	
/*page 13//////////////////////*/
	#buttonlogin13 {

   
}
	.setbut13{
		font-size: 20px;
		margin-bottom: 10px;
	}
/*page 14//////////////////////*/
.tutor{
	width:20%;
	height:auto;
}
h1 {
    font-size:150%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
	color:#FFF;    
	
}

h2 {
	font-size:150%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}

h3 {
	font-size:70%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
/*page 15//////////////////////*/
/*page 16//////////////////////*/
/*page 17//////////////////////*/
/*page 18//////////////////////*/
/* ------------ CLOSING BRACKET ----- */





/*  =========================================================================================== */
@media screen and (max-width: 1600px) {
/* =========================================================================================== */
/*error ///////////////////////*/
    #buttonlogin0 {
margin-left:25.5%;
margin-right:auto;
}

.Loginbut0 {
	font-size: 0.8em;
}


/*index ///////////////////////*/
.search5-1{
margin-bottom:20px;
font-size: 20px;	
}
/*page 2///////////////////////*/
.search5-2{
margin-bottom:20px;
font-size: 20px;	
}

#buttonlogin2 {
margin-left:38%;
margin-right:auto;
}

/*page 3///////////////////////*/
#input3{
	margin-left:26%;
	margin-right:auto;	
}
#buttonlogin3 {
margin-left:37.5%;
margin-right:auto;
}

.input3-2{
margin-top:10px;	
}

/*page 4///////////////////////*/
#buttonlogin4 {
margin-left:37.5%;
margin-right:auto;
}

/*page 5///////////////////////*/


.search5{
margin-bottom:20px;
font-size: 20px;	
}

/*page 6///////////////////////*/

/*page 7///////////////////////*/
#h1back7{
	width:60%;
	margin-left:20%;
}
/*page 9///////////////////////*/

/*page 10///////////////////////*/
#map {
        height: 30%;
		width:60%;
		margin-left:20%;
		
      }
/*page 11///////////////////////*/
#round {
margin-left:15%;
margin-right:auto;	
}

#buttonlogin11 {
	margin-left:38%;
margin-right:auto;
   
}
/*page 12///////////////////////*/

/*page 13//////////////////////*/
	#buttonlogin13 {

   
}
	.setbut13{
		font-size: 1em;
		margin-bottom: 10px;
	}
/*page 14//////////////////////*/
.tutor{
	width:40%;
	height:auto;
}
h1 {
    font-size:120%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
	color:#FFF;    
	
}

h2 {
	font-size:120%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}

h3 {
	font-size:70%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
/*page 15//////////////////////*/
/*page 16//////////////////////*/
/*page 17//////////////////////*/
/*page 18//////////////////////*/
/* ------------ CLOSING BRACKET ----- */



/* =========================================================================================== */
@media screen and (max-width: 1200px) {
/* =========================================================================================== */
/*error ///////////////////////*/
    #buttonlogin0 {
margin-left:25%;
margin-right:auto;
}

.Loginbut0 {
	font-size: 0.8em;
}


/*index ///////////////////////*/
.search5-1{
margin-bottom:20px;
font-size: 20px;	
}
/*page 2///////////////////////*/
.search5-2{
margin-bottom:20px;
font-size: 20px;	
}

#buttonlogin2 {
margin-left:37.5%;
margin-right:auto;
}

/*page 3///////////////////////*/
#input3{
	margin-left:25.25%;
	margin-right:auto;	
}

#buttonlogin3 {
margin-left:auto;
margin-right:auto;
}

.input3-2{
margin-top:10px;	
}

#confirmMessage {
font-size: 15px; 
}

/*page 4///////////////////////*/
#buttonlogin4 {
margin-left:37%;
margin-right:auto;
}

/*page 5///////////////////////*/

.search5{
margin-bottom:20px;
font-size: 20px;	
}

/*page 6///////////////////////*/
#input6{
	margin-left:26%;
	margin-right:auto;
}

#buttonlogin6{
	
	
}

/*page 7///////////////////////*/
#h1back7{
	width:60%;
	margin-left:20%;
}
/*page 9///////////////////////*/

/*page 10///////////////////////*/
#map {
        height: 30%;
		width:60%;
		margin-left:20%;
		
      }
/*page 11///////////////////////*/
#round {
margin-left:15%;
margin-right:auto;	
}

#buttonlogin11 {
	margin-left:38%;
margin-right:auto;
   
}
/*page 12///////////////////////*/

.ratebut12{
		font-size: 100%;
		margin-top:auto;
	}
	
/*page 13//////////////////////*/
	
		#buttonlogin13 {
   
}
	.setbut13{
		font-size: 20px;
		margin-bottom: 10px;
	}
/*page 14//////////////////////*/
.tutor{
	width:40%;
	height:auto;
}
h1 {
    font-size:120%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
	color:#FFF;    
	
}

h2 {
	font-size:120%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}

h3 {
	font-size:70%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
/*page 15//////////////////////*/
/*page 16//////////////////////*/
/*page 17//////////////////////*/
/*page 18//////////////////////*/
/* ------------ CLOSING BRACKET ----- */




/* =========================================================================================== */
@media screen and (max-width: 980px) {
/* =========================================================================================== */
/*error ///////////////////////*/
    #buttonlogin0 {
margin-left:25%;
margin-right:auto;
}

.Loginbut0 {
	font-size: 0.5em;
}


/*index ///////////////////////*/
#buttonlogin {
margin-left:25%;
margin-right:auto;
}

.Loginbut {
	font-size: 0.5em;
}

.facebookbutt{
	font-size: 0.5em;
	
}	

#footer {
    clear:both;
    text-align:center;
    padding:5px;	
	}

.facebookbutt{
	font-size: 0.5em;
	width: 47%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
}

/*page 2///////////////////////*/

.search5-2{
width:41vw;	
}

#buttonlogin2 {
margin-left:37.5%;
margin-right:auto;
}

/*page 3///////////////////////*/
#input3{
	margin-left:24.5%;
	margin-right:auto;	
}

#buttonlogin3 {
margin-left:35%;
margin-right:auto;
}

#confirmMessage {
font-size: 15px; 
}
/*page 4///////////////////////*/
#buttonlogin4 {
margin-left:35%;
margin-right:auto;
}

/*page 5///////////////////////*/


.search5{
margin-bottom:20px;
font-size:20px;	
}
/*page 6///////////////////////*/
#input6{
	margin-left:24.5%;
	margin-right:auto;
}
#buttonlogin6{
	margin-right:auto;
}

/*page 7///////////////////////*/

#h1back7{
	width:60%;
	margin-left:20%;
}
/*page 9///////////////////////*/

/*page 10///////////////////////*/
#map {
        height: 30%;
		width:60%;
		margin-left:20%;
		
      }
/*page 11///////////////////////*/
#round {
margin-left:15%;
margin-right:auto;	
}

#buttonlogin11 {
	margin-left:38%;
margin-right:auto;
   
}


/*page 12//////////////////////*/
	.ratebut12{
		font-size: 100%;
		margin-top:auto;
	}
	
/*page 13//////////////////////*/
	
		#buttonlogin13 {

}
	.setbut13{
		font-size: 20px;
		margin-bottom: 10px;
	}
/*page 14//////////////////////*/
.tutor{
	width:40%;
	height:auto;
}
h1 {
    font-size:100%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
	color:#FFF;    
	
}

h2 {
	font-size:100%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}

h3 {
	font-size:60%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
/*page 15//////////////////////*/
/*page 16//////////////////////*/
/*page 17//////////////////////*/
/*page 18//////////////////////*/
/* ------------ CLOSING BRACKET ----- */




/* =========================================================================================== */
@media screen and (max-width: 720px) {
/* =========================================================================================== */
/*error ///////////////////////*/
    #buttonlogin0 {
margin-left:23.5%;
margin-right:auto;
}

.Loginbut0 {
	font-size: 0.5em;
}


/*index ///////////////////////*/
#logo {
  margin-top:120px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

#buttonlogin {
margin-left:23%;
margin-right:auto;

}

.Loginbut {
	font-size: 0.5em;
}

.facebookbutt{
	font-size: 0.5em;
	
}	

#footer {
    clear:both;
    text-align:center;
    padding:5px;	
	}

.facebookbutt{
	font-size: 0.5em;
	width: 47%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
}

/*page 2///////////////////////*/
.search5-2{
width:36vw;	
}

#buttonlogin2 {
margin-left:36%;
margin-right:auto;
}

/*page 3///////////////////////*/
#input3{
	margin-left:23.5%;
	margin-right:auto;	
	padding-bottom:0px;
}

#buttonlogin3 {
margin-left:35%;
margin-right:auto;
}

#confirmMessage {
font-size: 12px; 
}

/*page 4///////////////////////*/
#buttonlogin4 {
margin-left:35%;
margin-right:auto;
}

/*page 5///////////////////////*/

.search5{
margin-bottom:10px;	
font-size:20px;
}


/*page 6///////////////////////*/

/*page 7///////////////////////*/
#h1back7{
	width:100%;
	margin-left:0%;
}
/*page 9///////////////////////*/
#titlename8{
	margin-left:0%;
	width:100%;
}
#titlename8-1{
	margin-left:0%;
	width:100%;
}
/*page 10///////////////////////*/
#titlename10{
	margin-left:0%;
	width:100%;
}
#titlename10-1{
	margin-left:0%;
	width:100%;
}
#Drugbar{
	margin-left:0%;
	width:100%;
}
#map {
        height: 30%;
		width:100%;
		margin-left:0%;
		
      }
/*page 11///////////////////////*/
#round {
margin-left:15%;
margin-right:auto;	
}

#buttonlogin11 {
	margin-left:38%;
margin-right:auto;
   
}
#titleback11{
	width:100%;
	margin-left:0%;
}
#info{
	width:100%;
	margin-left:0%;
}
#ratediv{
	width:100%;
	margin-left:0%;
}
/*page 12//////////////////////*/
	.ratebut12{
		font-size: 100%;
		width:10%;
		margin-top:auto;
	}
/*page 13//////////////////////*/
	
		#buttonlogin13 {

   
}
	.setbut13{
		font-size: 20px;
        margin-bottom: 10px;
	
	}
/*page 14//////////////////////*/
.tutor{
	width:40%;
	height:auto;
}
h1 {
    font-size:100%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
	color:#FFF;    
	
}

h2 {
	font-size:90%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}

h3 {
	font-size:50%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
/*page 15//////////////////////*/
/*page 16//////////////////////*/
/*page 17//////////////////////*/
/*page 18//////////////////////*/
/* ------------ CLOSING BRACKET ----- */


/* =========================================================================================== */
@media screen and (max-width: 480px) {
/* =========================================================================================== */
/*error ///////////////////////*/
    #buttonlogin0 {
margin-left:21%;
margin-right:auto;
}

.Loginbut0 {
	font-size: 0.4em;
}


/*index ///////////////////////*/
#logo {
  margin-top:-30px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}


.facebookbutt{
	font-size: 0.4em;
	
}	

.search5-1{
width: 100vw;
font-size: 20px;	
}



/*page 2///////////////////////*/
.search5-2{
width: 80vw;
font-size: 20px;	
margin-left:0%;
}

#buttonlogin2 {
margin-left:33%;
margin-right:auto;
}

/*page 3///////////////////////*/

#input3{
	margin-left:21.5%;
	margin-right:auto;	
	padding-bottom:0px;
	padding-top:5px;
}

#buttonlogin3 {
margin-left:33%;
margin-right:auto;
}

/*page 4///////////////////////*/
#buttonlogin4 {
margin-left:33%;
margin-right:auto;
}

/*page 5///////////////////////*/

.search5{
width: 100vw;
font-size: 20px;	
}

.search5 {
border:solid #cc544d 1px; 
}

#welcomeMsg {
font-size: 1.2em;
}

/*page 6///////////////////////*/
#input6{
	margin-left:23%;
	margin-right:auto;
}

/*page 7///////////////////////*/
#h1back7{
	width:100%;
	margin-left:0%;
}

/*page 9///////////////////////*/
#titlename8{
	margin-left:0%;
	width:100%;
}
#titlename8-1{
	margin-left:0%;
	width:100%;
}
/*page 10///////////////////////*/
#titlename10{
	margin-left:0%;
	width:100%;
}
#titlename10-1{
	margin-left:0%;
	width:100%;
}
#Drugbar{
	margin-left:0%;
	width:100%;
}

#map {
        height: 30%;
		width:100%;
		margin-left:0%;
		
      }
/*page 11///////////////////////*/
#round {
margin-left:15%;
margin-right:auto;	
}

#buttonlogin11 {
	margin-left:38%;
margin-right:auto;
   
}
#titleback11{
	width:100%;
	margin-left:0%;
}
#info{
	width:100%;
	margin-left:0%;
}
#ratediv{
	width:100%;
	margin-left:0%;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:10px;
}
/*page 12//////////////////////*/
	.ratebut12{
		font-size: 100%;
		width:20%;
		margin-top:auto;
	}
/*page 13//////////////////////*/
	
		#buttonlogin13 {

   
}
	.setbut13{
        width: 100vw;
        font-size: 20px;
        border:solid #cc544d 1px; 
}
	}
/*page 14//////////////////////*/
.tutor{
	width:40%;
	height:auto;
}
h1 {
    font-size:70%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
	color:#FFF;    
	
}

h2 {
	font-size:70%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}

h3 {
	font-size:50%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
/*page 15//////////////////////*/
/*page 16//////////////////////*/
/*page 17//////////////////////*/
/*page 18//////////////////////*/
/* ------------ CLOSING BRACKET ----- */


/* =========================================================================================== */
@media screen and (min-width: 100px, max-width: 320px ) {
/* =========================================================================================== */
/*error ///////////////////////*/
    #buttonlogin0 {
margin-left:21%;
margin-right:auto;
}

.Loginbut0 {
	font-size: 0.4em;
}

#islalogo{
    max-height: auto;
    min-width: 100vw;

}

/*index ///////////////////////*/
#logo {
  margin-top:-30px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

#buttonlogin {
margin-left:20%;
margin-right:auto;

}

.Loginbut {
	font-size: 0.4em;
}

.facebookbutt{
	font-size: 0.4em;
	
}	
#footer {
    clear:both;
    text-align:center;
   	
	}

.facebookbutt{
	font-size: 0.4em;
	width: 48%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
}

/*page 2///////////////////////*/

#buttonlogin2 {
margin-left:33%;
margin-right:auto;
}
.search5-2{
margin-bottom:20px;
font-size: 30px;	
margin-left:0%;

}
/*page 3///////////////////////*/

#input3{
	margin-left:21.5%;
	margin-right:auto;	
	padding-bottom:0px;
	padding-top:5px;
}

#buttonlogin3 {
margin-left:33%;
margin-right:auto;
}

/*page 4///////////////////////*/
#buttonlogin4 {
margin-left:33%;
margin-right:auto;
}

/*page 5///////////////////////*/
#buttonlogin5 {
    width:100vw;
}

.search5{
margin-bottom:20px;
font-size: 30px;	
}

/*page 6///////////////////////*/
#logo6, #logo13{
  margin-top:-30px;
  width:400%;
  margin-left:auto;
  margin-right:auto;
}

#input6{
	margin-left:23%;
	margin-right:auto;
}
#buttonlogin6{
    width:100vw;

	margin-bottom:10px;
}

/*page 7///////////////////////*/

#h1back7{
	width:100%;
	margin-left:0%;
	
}
/*page 9///////////////////////*/
#titlename8{
	margin-left:0%;
	width:100%;
}
#titlename8-1{
	margin-left:0%;
	width:100%;
}
/*page 10///////////////////////*/
#titlename10{
	margin-left:0%;
	width:100%;
}
#titlename10-1{
	margin-left:0%;
	width:100%;
}
#Drugbar{
	margin-left:0%;
	width:100%;
}
#map {
        height: 30%;
		width:100%;
		margin-left:0%;
		
      }
/*page 11///////////////////////*/
#round {
margin-left:15%;
margin-right:auto;	
}

#buttonlogin11 {
	margin-left:38%;
margin-right:auto;
   
}
#titleback11{
	width:100%;
	margin-left:0%;
}
#info{
	width:100%;
	margin-left:0%;
}
#ratediv{
	width:100%;
	margin-left:0%;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:10px;
}
/*page 12//////////////////////*/
	.ratebut12{
		font-size: 100%;
		width:20%;
		margin-top:-10px;
	}
/*page 13//////////////////////*/
	
		#buttonlogin13 {
   width:100vw;
   margin-bottom:10px;
}
	.setbut13{
font-size: 30px;

	}
/*page 14//////////////////////*/
.tutor{
	width:40%;
	height:auto;
}

h1 {
    font-size:50%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
	color:#FFF;    
	
}

h2 {
	font-size:50%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}

h3 {
	font-size:20%;    
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
/*page 15//////////////////////*/
/*page 16//////////////////////*/
/*page 17//////////////////////*/
/*page 18//////////////////////*/
/* ------------ CLOSING BRACKET ----- */
